@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.home {
    width: 100%;
    height: 100vh;
    display: flex;
    background: rgb(241, 236, 236);
}

header {
    position: fixed;
    top: 0;
}

header ul {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header ul li {
    margin-top: 10px;
    margin-left: 20px;
    list-style: none;
    font-size: 20px;
    width: 60px;
    height: 60px;
    background: rgb(191, 191, 191);
    text-align: center;
    line-height: 60px;
    border-radius: 50%;

}

li a {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    flex-direction: row;
}

.fa-home {
    margin-top: 20px;
    margin-right: 15px;
}

.fa-user {
    margin-right: 10px;

}

.icon {
    margin-left: 70px;
    color: black;
}

header ul li a {
    /* text-align: center; */
    text-decoration: none;
    color: white;
    font-weight: 400;
}

.hide {
    margin-left: 5px;
    opacity: 0;
}


header ul li:hover {
    transition: 0.3s;
    width: 130px;
    border-radius: 30px;
    /* background: rgb(4, 130, 130); */
    background-color: coral;

}

header ul li:hover span {
    opacity: 1;
    margin-right: 70px;
}


.name {
    margin: auto;
}

#hi {
    margin-left: -150px;
    margin-top: -150px;
    font-size: 40px;
    font-weight: bold;
    color: coral;
}

#s {
    margin-left: -150px;
    color: rgb(219, 136, 136);
    /* color: #aa65ea; */
    /* color: lightseagreen; */
    font-size: 90px;
}




.wraper {
    display: inline-flex;
    margin-left: -150px;
}

.wraper .static-txt {
    margin-top: 5px;
    color: black;
    font-size: 40px;
}

.wraper .dynamic-text {
    margin-left: 15px;
    height: 60px;
    line-height: 60px;
    overflow: hidden;
}

.dynamic-text li {
    color: coral;
    list-style: none;
    font-size: 55px;
    position: relative;
    top: 0;
    margin-bottom: 30px;
    animation: slide 10s steps(4) infinite;
}

@keyframes slide {
    100% {
        top: -360px;
    }
}

.dynamic-text li .cur {
    position: relative;
}

.dynamic-text li .cur::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    border-left: 2px solid coral;
    background: rgb(241, 236, 236);
    animation: typing 2.5s steps(10) infinite;
}

@keyframes typing {
    100% {
        left: 100%;

        margin: 0 150px 40px 30px;
    }
}

.icon1 {
    margin-top: 30px;
    text-align: center;
    font-size: 30px;
}
.icon1 a{
    text-decoration: none;
}

.ic {
    margin: 0 20px;
    color: rgb(45, 38, 38);
    transition: 1s;
}

.ic:hover {
    transform: scale(1.2);
    color: lightcoral;
}



.about {
    margin-top: 40px;
    margin-left: 130px;
    height: 100%;
}

.about h1 {
    font-size: 50px;
    text-align: center;
}

.about #p1 {
    text-align: center;
    margin: 20px;
    font-size: 17px;
    color: rgb(31, 33, 33);
}


.about .box {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    /* margin: 40px; */
}

.box img {
    width: 350px;
    height: 400px;
    margin-right: 30px;
}

.box h2 {
    font-size: 30px;
    font-weight: 400;
    /* color: lightslategrey; */
    color: rgb(195, 101, 101);
    margin-bottom: 20px;
}

.perinfo {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 30px;
    margin-top: 30px;
}

.sicon {
    font-size: 30px;
}

.que {
    font-size: 20px;
    font-weight: bold;
}

.nm {
    font-size: 20px;
}

#morinfo {
    font-size: 20px;
}




.skills {
    margin-top: 40px;
}


.skill-bar {
    width: 800px;
    padding: 25px 30px;
    margin: auto;
}


.skill-bar .bar {
    margin: 20px 0;
}




.skill-bar .bar .info {
    margin-bottom: 10px;
}

.skill-bar .bar .info span {
    font-size: 17px;
    font-weight: 500;
}

.skill-bar .bar .progress-line {
    position: relative;
    height: 10px;
    width: 100%;
    background-color: #f0f0f0;
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.05),
        0px 1px rgba(255, 255, 255, 0.8), ;

    border-radius: 10px;
    transform: scaleX(0);
    transform-origin: left;

    animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}

.bar .progress-line span {
    height: 100%;
    width: 80%;
    /* background: #6665ee; */
    background: lightblue;
    position: absolute;
    border-radius: 10px;
    transform: scaleX(0);
    transform-origin: left;

    animation: animate 2s 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}

@keyframes animate {
    100% {
        transform: scaleX(1);
    }
}

.progress-line.html span {
    width: 90%;
}

.progress-line.css span {
    width: 80%;
}

.progress-line.python span {
    width: 60%;
}

.progress-line.java span {
    width: 40%;
}

.progress-line.js span {
    width: 55%;
}



.bar .progress-line span::before {
    position: absolute;
    content: "";
    right: 0;
    top: -10px;
    height: 0;
    width: 0;
    border: 7px solid transparent;
    border-bottom-width: 0;
    border-right-width: 0;
    border-top-color: #000;
}

.bar .progress-line span::after {
    position: absolute;
    right: 0;
    top: -28px;
    color: #fff;
    background-color: #000;
    font-size: 12px;
    font-weight: 500;
    padding: 1px 8px;
    border-radius: 3px;

}


.progress-line.html span::after {
    content: "90%";
}

.progress-line.css span::after {
    content: "80%";
}

.progress-line.python span::after {
    content: "60%";
}

.progress-line.java span::after {
    content: "40%";
}

.progress-line.js span::after {
    content: "55%";
}



#resume,
#portfolio,
#services {
    width: 100%;
    height: 100%;
    margin: auto;
    margin-top: 53px;
}

#resume h1,
#portfolio h1,
#services h1 {
    margin-left: 150px;
    text-align: center;
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 30px;
}

#resume p,
#portfolio p,
#services p {
    margin-left: 160px;
    font-size: 19px;
    margin-bottom: 40px;
}

#F a{
    text-decoration: none;
    color: black;
    cursor: default;
}


.work {
    margin-left: 160px;

}

.work span,
.fa-briefcase,
.fa-pencil-square {
    font-size: 40px;
    color: rgb(197, 159, 112);
    margin-bottom: 50px;
    margin-right: 10px;
}

.work h2 {
    font-size: 30px;
    color: rgb(207, 163, 109);
}

.work .date {
    margin-top: 20px;
    font-size: 20px;
    color: rgb(145, 141, 141);
}

.maxbox {
    display: flex;
    justify-content: space-evenly;
}

.imabox {
    margin-left: 160px;
    margin-bottom: 50px;
}

.imabox .uplink {
    margin-left: 400px;
    margin-bottom: 30px;
}

.imabox .uplink button {
    border: none;
    background: none;
    font-size: 22px;
    margin-left: 25px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    color: lightcoral;
}

.imabox .uplink button:hover {
    color: lightseagreen;
}

.imgbox1 {
    width: 300px;
    height: 500px;
    position: relative;
}

.imgbox1 img {
    display: block;
    width: 100%;
    height: 100%;
}

.text {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    flex-direction: column;
    font-size: 20px;
    color: black;
    font-family: 'Open Sans', sans-serif;
    background-color: rgba(700, 700, 700, 0.6);
    opacity: 0;
    transition: 0.5s;
}

.text1,
.text2,
.text3,
.text4,
.text7,
.text8 {
    width: 100%;
    height: 100%;
}

.text5 {
    width: 320px;
    height: 320px;
    margin-top: 15px;
    margin-right: 15px;
}

.text6 {
    width: 367px;
    height: 464px;
    margin-top: 15px;
    margin-right: 15px;
}

.link a {
    font-size: 30px;
    text-decoration: none;
    color: black;
}

.link a:hover {
    color: coral;
}

.text:hover {
    opacity: 1;
    transform: scale(1.1);
}

.imgbox2 {
    width: 400px;
    height: 600px;
    position: relative;
}

.imgbox2 img {
    display: block;
    width: 100%;
    height: 100%;
}

.imgbox3 {
    width: 300px;
    height: 400px;
    position: relative;
}


.imgbox3 img {
    display: block;
    width: 100%;
    height: 100%;
}

.b2 {
    margin-top: 30px;
}



.imgbox4 {
    width: 350px;
    height: 450px;
    position: relative;
}


.imgbox4 img {
    display: block;
    width: 100%;
    height: 100%;
}

.imgbox5 {
    width: 350px;
    height: 350px;
    position: relative;
}


.imgbox5 img {
    display: block;
    width: 100%;
    height: 100%;
}

.imgbox6 {
    width: 400px;
    height: 500px;
    position: relative;
}


.imgbox6 img {
    display: block;
    width: 100%;
    height: 100%;
}


.serbox1,
.serbox2 {
    margin-left: 100px;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

.bx {
    width: 360px;
    height: 380px;
    border-radius: 5px;
    margin: auto;
    background-color: rgba(242, 239, 239, 0.279);
    transition: 0.4s;
}

.fa-firefox {
    margin-top: 100px;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}

#services .serbox1 h1,
#services .serbox2 h1 {
    margin-left: -1px;
    font-size: 20px;
}

.serbox1 .bx h4,
.serbox2 .bx h4 {
    margin: 4px;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
}

.logo2,
.logo4,
.logo6 {
    color: orange;
}

.logo1,
.logo3,
.logo5 {
    color: lightcoral;
}

.bx:hover {
    box-shadow: 0px 2px 9px 5px lightgrey;
}




#contact {
    margin-top: 80px;
    margin-left: 150px;
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
}

#contact h1 {
    font-size: 40px;
    text-align: center;
    margin-bottom: 50px;
}



.cont {
    display: flex;
    justify-content: space-between;
}

.in {
    font-size: 20px;
}

.mr {
    margin: 20px;
}

.mr:hover .icn {
    background-color: lightcoral;
    color: white;
}

.icn {
    width: 50px;
    height: 50px;
    background: lightblue;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
}

.hd {
    font-size: 25px;
    margin-left: 10px;
}

.inf {
    margin-left: 60px;
    font-size: 15px;
    color: rgb(201, 197, 197);
    margin-top: -30px;
}

.form {
    margin-right: 20px;
}

form input {
    width: 350px;
    padding: 8px;
    border: 1px solid black;
}

#send {
    margin-left: 300px;
    width: 170px;
    height: 45px;
    border: none;
    background-color: lightcoral;
    border-radius: 30px;
    /* padding: 20px; */
    font-size: 18px;
    color: white;
    cursor: pointer;
    transition: 0.5s;
    font-family: Arial, Helvetica, sans-serif;
}

#send:hover {
    background-color: coral;
}


footer {
    margin-top: 30px;
    width: 100%;
    height: 100%;
    background-color: rgb(241, 236, 236);
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content h1 {
    margin: 25px 0px;
}

/* .content p,.iconic{
    margin: 10px 0px;
} */

.social {
    width: 40px;
    height: 40px;
    background-color: lightcoral;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    cursor: pointer;
    color: white;
    margin-top: 30px;
    margin-bottom: 30px;
}

.social:hover {
    background-color: coral;
}

.copy p {
    text-align: center;
    margin: 10px;
}

.copy p a {
    text-decoration: none;
}